{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Hapus Inventaris</legend>
                <h3>Anda yakin ingin menghapus {{ object.barang.nama }}, {{ object.karyawan.nama }}?</h3>

            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Hapus</button>
                <a href="{% url 'inventaris-detail' object.id %}" class="btn btn-info">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}

